body{
    margin: 0px;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding : 5px 15% 5px 15%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}
.logo{
    align-self: center;
    color: white;
    font-size: 24px;
    font-weight: 800;
}
header ul{
    list-style-type: none;
    overflow: hidden;
    color : white;
    margin: 0px ;
    padding: 0px;
}
li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
li a:hover{
    color: aqua;
}
.heroParent{
    background-color: #1F2937;
}
.hero{
    width: fit-content;
    display: flex;
    flex: 1;
    gap : 30px;
    padding : 85px 15% 85px 15%;
}
.hero .heroTxt{
    flex-basis: 100%;
    display: flex;
    gap : 5px;
    flex-direction: column;
    font-size: 18px;
    color: #e5e7eb;

}
.heroTxt .heroTitle{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}
.heroTxt button{
    background-color: #3B82F6;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    color: #e5e7eb;
    font-size: 14px;
    font-weight: 600;

}
.heroImg img{
    flex-basis: 100%;
    width: 100%;
    height: auto;
    align-self: center;
}
.info{
    padding : 50px 15% 100px 15%;
    text-align: center;
}
.info .infoTxt{
    font-size: 36px;
    color: #1F2937;
    font-weight: 700;
}
.info .infoColumns{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
}
.infoColumns img{
    max-width: 200px;
    height: auto;

}
.quote{
    background-color: #e5e7eb;
    display: flex;
    flex-direction:  column;
    padding: 5% 15% 5% 15%;
}
.quote .quoteTxt{
    
    flex: column;
    font-size: 36px;
    font-weight: 100;
    color: #1f2937;
}
.quote .authorName{
    margin-top: 10px;
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    display: flex;
    flex-direction: row-reverse;
}
.callToAction{

    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #3B82F6;
    display: flex;
    margin: 5% 15% 5% 15%;
    padding: 40px 100px 40px 100px;
    border-radius: 10px ;
    justify-content: space-between;
    align-items: center;
}
.callToActionTxt .callToActionTitle{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 800;
}
.callToActionTxt p{
    margin: 0px;
}
.callToAction .signupBtn{
    align-self: center;
    background-color: transparent;
    border: solid white 2px ;
    border-radius: 5px;
    color: white;
    padding: 5px 15px 5px 15px;
    font-size: 14px ;
    cursor: pointer;
}
.copyrights{
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}